<footer class="footer">
  <small>
    <a href="http://web.method.kz/">Книжка</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Ебоут", about_path %></li>
      <li><%= link_to "Контакт", contact_path %></li>
      <li><a href="http://news.railstutorial.org">News</a></li>
    </ul>
  </nav>
</footer>
